

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 100vh;

    display: grid;
    place-items: center;
}

.containers{
    /* width: 700px; */
    background-color: rgb(141, 159, 153);

    padding: 20px;

    border-radius: 10px;
}


.progress{
    width: 600px;
    height: 15px;
    background-color: azure;
}

.progress .progress-bar{
    width: 0;
    height: inherit;
    background-color: rgb(100, 244, 100);

    position: relative;
}

.progress .progress-bar::before{
    content: attr(data-inc);

    color: rgb(47, 22, 22);

    position: absolute;
    right: 20px;
    top: 50%;

    transform: translateY(-50%);
}

